

/* End Page CSS */
/* Navbar */
.navbar {
    width: 100%; 
    background-color: rgb(96, 150, 100);
   
}  

.nav-link {
    color: #fff;
    size: 2rem;
}

.navbar-brand {
   color: #fff;
}

.navbar-toggler {
    color: #fff;
}


body {

    background-color:  #85d43a;;
}  


.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin-left: 25%;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 1rem;
    width: 80%;
    outline: none;
}

#end-text {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn {
    margin-bottom: 10%; 
    color: red;
    background-color: rosybrown;
    margin-right: 25%;
}

.fa-home {
    
    font-size: 2rem;
    color: rgb(34, 18, 18)
    
}     

.btn {
margin-left: 27%;
font-size: 1.5rem;
color: #fff;
}  


#finalScore {
    margin-top: 5%;
    font-size: 2rem;
    color: rgb(12, 12, 12);
    text-align: center;
    margin-bottom: 5%;
} 

#end-score {
    margin-top: 20%;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

/* Navbar */
/* End Page CSS */