/* Navbar */
.navbar {
    width: 100%; 
    background-color: rgb(96, 150, 100);
   
}  

.nav-link {
    color: #fff;
    size: 2rem;
}

.navbar-brand {
   color: #fff;
}

.navbar-toggler {
    color: #fff;
}

/* Navbar */
body {

    background-color:  #85d43a;;
}  

/* quiz */

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #fff;
    font-size: 2rem;
    min-height: 40%;
} 

/* quiz answer containers */
.choice-container:hover {
    cursor: pointer;
    box-shadow: rgb(7, 248, 112); 

}  

.correct {
    background: springgreen;  
}  

.incorrect {
    background: tomato;
}  

/* quiz answer containers */

#hud {
    display: flex;
    justify-content: space-between;
}    

.hud-prefix {
    text-align: center;
    font-size: 2rem; 
    margin-top: 10%;
}

.hud-main-text {
    text-align: center;

}  

#progressbar {
   
    height: 3rem;
    border: 0.2rem solid rgb(238, 245, 241); 
    margin-top: 5%; 
    margin-bottom: 15%;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(7, 248, 112);
    width: 0%;
}  

.hud-item {
    margin-top: 15%;
}

/* quiz */