
.navbar {
    width: 100%; 
    background-color: rgb(96, 150, 100);
    height: 20%;
}  

.nav-link {
    color: #fff;
    size: 2rem;
}

.navbar-brand {
   color: #fff;
}

.navbar-toggler {
    color: #fff;
}


body {

    background-color:  #85d43a;;
}  



.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #fff;
    font-size: 3rem;
    min-height: 40%;
} 

.choice-container:hover {
    cursor: pointer;
    box-shadow: rgb(7, 248, 112); 

}  

.correct {
    background: springgreen;  
}  

.incorrect {
    background: tomato;
}  

#hud {
    display: flex;
    justify-content: space-between;
}    

.hud-prefix {
    text-align: center;
    font-size: 2.5rem; 
    margin-top: 10%;
}

.hud-main-text {
    text-align: center;
    
}  

#progressbar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(238, 245, 241); 
    margin-top: 5%; 
    margin-bottom: 15%;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(7, 248, 112);
    width: 0%;
}  

.hud-item {
    margin-top: 15%;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(96, 150, 100);
    color: white;
    text-align: center;
    line-height: 1rem;
 } 

 
 .social-links {
    text-align: center;
  
}

.social-links li {
    display: inline;
}

 .social-links i {
    font-size: 190%;

    padding: 1%;
    color: #ffff;
}
   
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
} 

