body {
    background-color: #0dc00d;
  
}


.navbar {
    width: 100%;  
    height: 50%; 
    border: #fff;
}


.main-header {
    margin-left: 33%;
    color: #ffff ;
    

}  




.main-hero-image {
    height: 80vh;
    width: 100%;
    max-width: 100%;
    background: url('../images/main-hero-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}  


.opening-paragraph {
    color: #fff;
}

.card { 
background-color: #0dc00d;  
color: #fff;
}

.blinking{
    animation:blinkingText 1.2s infinite;
    font-size: 50px;   
    margin-left: 25%;
    
    
}
@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: #fff; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #fff;    }
}

.quiz-image {
    height: 80vh;
    width: 100%;
    max-width: 100%;
    background: url('../images/quiz-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0dc00d;
    color: white;
    text-align: center;
 } 

 
 .social-links {
    text-align: center;
    padding-left: 72%;
}

.social-links li {
    display: inline;
}

 .social-links i {
    font-size: 190%;
    margin: 1%;
    padding: 2%;
    color: #ffff;
}
